.view {
  min-height: 100vh;
  width: 100vw;
  position: absolute;
  transition: background 0.75s ease;
}
.view--blue {
  background-image: var(--gradient-primary);
}
.view--white {
  background: var(--color-white)
}
.view--clear {
  background: transparent; /* Animation works */
  background-image: unset !important; /* No animation for background-image*/
}