body {
  background: var(--color-white);
  font-family: var(--font-family-default);
  font-size: var(--font-size-md);
  /**
   * When a vertical scrollbar is present on .view
   * the width of the scrollbar adds .view 100vw
   * causing annoying horizontal scrollbar
   */
  overflow-x: hidden;
}

/* Styles for the scrollbar track */
::-webkit-scrollbar {
  width: 8px; /* width of the scrollbar */
}

/* Hide the scrollbar on mobile devices */
@media screen and (max-width: 768px) {
  ::-webkit-scrollbar {
    width: 0;
  }
}

/* Style for the scrollbar handle (thumb) */
::-webkit-scrollbar-thumb {
  background-color: var(--color-gray-5); /* color of the handle */
  border-radius: var(--radius-sm); /* rounded corners for the handle */
}

/* Style for the scrollbar track when the handle is being hovered */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-gray-6);
}

/* Style for the scrollbar track when the handle is being dragged */
::-webkit-scrollbar-thumb:active {
  background-color: var(--color-gray-7);
}

/* Style for the scrollbar track when it is not active (not being interacted with) */
::-webkit-scrollbar-track {
  background-color: var(--color-gray-3);
}